In [ ]:
from dotenv import load_dotenv
import os

from langchain_community.graphs import Neo4jGraph

# Warning control
import warnings
warnings.filterwarnings("ignore")

In [1]:
from neo4j import GraphDatabase
import pandas as pd

In [2]:
raw_data = pd.read_csv('./data/char_relations.csv')
raw_data.head()

,name,friend,classmate,teacher,family,immediate family,lover,opponent,colleague,teammate,enemy,"Harry's affection to him (-10 to 10, 0 is the initial value)","Harry's familiarity with him (0 to 10, 0 is the initial value)","His affection to Harry (0 to 10, 0 is the initial value)","His familiarity with Harry (0 to 10, 0 is the initial value)"
0,James,0,0,0,1,1,0,0,0,0,0,0,0,10,0
1,Lily,0,0,0,1,1,0,0,0,0,0,0,0,10,0
2,Petunia,0,0,0,1,0,0,0,0,0,0,0,0,-2,1
3,Vernon Dursley,0,0,0,1,0,0,0,0,0,0,0,0,-2,1
4,Dudley,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Credentials

In [ ]:
def read_credentials(file_path):
    credentials = {}
    with open(file_path, 'r') as file:
        for line in file:
            line = line.strip()
            if line:
                key, value = line.split('=', 1)
                credentials[key] = value
    return credentials

credentials = read_credentials('credentials.txt')

url = credentials.get('url')
username = credentials.get('username')
password = credentials.get('password')

URI = url
AUTH = (username, password)

### Driver

In [ ]:
driver = GraphDatabase.driver(uri=URI, auth=AUTH)

def close_driver():
    driver.close()